
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}


.filter-btns {
  text-align: center;
  padding: 20px;
}

.filter-btns button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background: #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btns button.active,
.filter-btns button:hover {
  background: #333;
  color: #fff;
}


.search-box {
  margin-top: 15px;
}

.search-box input {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}


.pizza-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s;
}

.pizza-card:hover {
  transform: translateY(-5px);
}

.pizza-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.pizza-info {
  padding: 12px;
}

.pizza-info h6 {
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}

.pizza-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}
